@model List<ELibraryWebApp.Database.Genre>

<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Название</th>
            <th>Связанные книги</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
        <tr>
            <td>@genre.Id</td>
            <td>@genre.Name</td>
            <td>@String.Join(", ", genre.Books.Select(b => b.Name))</td>
            <td>@Ajax.ActionLink("Удалить", "RemoveGenre", new { id = genre.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "genres" })</td>
        </tr>
        }
    </tbody>
</table>
